## Desenvolvendo conexão Python / SQLite3

#### Instalando Biblioteca.
`pip install db-sqlite3`

#### Importando Biblioteca e Criando o Banco de dados.

In [1]:
import sqlite3

conexao = sqlite3.connect('banco_de_dados.db')

#### Criando tabelas no Banco de Dados . 
##### Aqui temos que instanciar o 'cursor', que fica responsavel por interpretar os comandos sql para a criação e manipulação dos dados no Banco.

In [2]:
cursor = conexao.cursor()

##### Agora ultilizaremos os métodos do cursor para executar comando sql, nesse caso useramos o 'execute()' para criar uma tabela de nome 'pessoa' com as seguintes colunas : Nome com o tipo text(Texto), idade do tipo integer(inteiro) e email do tipo texto tb.

In [3]:
cursor.execute("CREATE TABLE pessoas (nome text,idade integer, email text)")

#### Agora vamos conferir se a tabela voi criada

In [9]:
resposta = cursor.execute("SELECT name FROM sqlite_master")
resposta.fetchone() # método que retorna a primeira linah do resultado

('pessoas',)

#### Agora vamos inserir dados na tabela, os dados devem ser inseridos na ordem que foi estabelecida na criação da tabela.

In [15]:
nome = "Manuel"
idade = 35
email = "maria@gmail.com"

cursor.execute( "INSERT INTO pessoas (nome, idade, email) VALUES(?, ?, ?)",(nome, idade, email))

conexao.commit()

#### Vamos verificar os valores da tabela criada.

In [18]:
resposta = cursor.execute("SELECT nome FROM pessoas")
resposta.fetchall()

[('Maria',),
 ('Maria',),
 ('Maria',),
 ('Maria',),
 ('Manuel',),
 ('Fernando',),
 ('Maria',),
 ('João',)]

#### Agora vamos adicionar uma tupla compelta de registros de pessoas no banco de dados.

##### O comando "executemany" ele insere multiplos registro de uma só vez ultilizando os dados da tupla.

In [17]:
dados_pessoas = [
    ("Fernando", 55, "fernando@gmail.com"),
    ("Maria", 35, "maria@gmail.com"),
    ("João", 45, "joao@gmail.com"),
]

cursor.executemany("INSERT INTO pessoas (nome,idade,email) VALUES(?,?,?)", dados_pessoas)

conexao.commit()